<ul>
  <% @restaurants.each do |r| %>
    <li>
      <h1><%= r.name %></h1>
      <p><%= link_to 'Crea tu pedido', new_order_path(r.id) %></p>
    </li>
  <% end %>
</ul>

<ul>
  <% @orders.each do |o| %>
    <li>
      <h1>Order para <%= o.restaurant.name %></h1>
      <h2>Vence en <%= time_ago_in_words(o.end_date) %></h2>
      
    </li>
  <% end %>
</ul>